doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title
  body
    .othello
      .othello__controller
        .controller
          .controller__play
            button#play-button 開始
          .controller__table
            select#table-select
      .othello__info
        .info
          .info__num-stone
            .stone
              .stone__label 黒:
              input.stone__count#count-black(value="0", readonly)
            span 、
            .stone
              .stone__label 白:
              input.stone__count#count-white(value="0", readonly)
      .othello__message#message
        | メッセージです。
      .othello__game
        #app
